/* Styling specific to NavLinks component */
.topbar .nav-header-links .nav-link {
  position: relative;
  text-decoration: none;
  margin: 0 0.3rem; /* Add spacing between NavLinks */
}

/* Underline animation only for NavLinks */
.topbar .nav-header-links .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%; /* Start from center */
  bottom: -3px;
  background-color: currentColor;
  transform: translateX(-50%); /* Center the line */
  transition: width 0.3s ease;
}

.topbar .nav-header-links .nav-link:hover::after {
  width: 100%;
}

.topbar .nav-header-links .nav-link.active::after {
  width: 100%;
}


/* Target icons inside NavIcons area */
.topbar .nav-icons  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 60%;
  transition: background-color 0.3s ease;
  margin: 0 0.02rem;
  color: black;
}

/* Hover effect */
.topbar .nav-icons:hover {
  background-color: rgba(190, 190, 190, 0.5); /* light background */
}

/* Optional: adjust color for dark theme */
@media (prefers-color-scheme: dark) {
  .topbar .nav-icons-container:hover {
    background-color: rgba(190, 190, 190, 0.5);
  }
}
