/*NavLinks component styling*/

.topbar .nav-header-links .nav-link {
  text-decoration: none; /* removes default underline from link */
  margin: 0 0.5rem; /* addes horizontal spacing */

  position: relative;   /* allows psuedo element (underline) to position itself relative */
  display: flex;             /* make link a flex container */
  flex-direction: column;    /* stack text and underline vertically */
  align-items: center;       /* center underline horizontally */
}

.topbar .nav-header-links .nav-link::after {
  content: ""; /* creates underline */
  background-color: currentColor; /* sets underline color same as text */

  width: 0; /* starts with no width */ 
  height: 2px; /* thickness of of underline */
  bottom: -1px; /* sets distance between text and underline */

  position: absolute; /* positions according to above */

  transition: width 0.3s ease; /* animation effect */ 
}

.topbar .nav-header-links .nav-link:hover::after,
.topbar .nav-header-links .nav-link.active::after {
  width: 100%; /* sets width of underline */ 
}

/* navIcons component styling */
.topbar .nav-icons  {
  display: flex;
  align-items: center; /* vertical alignment */
  justify-content: center; /* horizontal alignment */
  
  /* icons align with hover effect */
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0 0.02rem;
  color: black;

  transition: background-color 0.5s ease;
}

.topbar .nav-icons:hover {
  background-color: rgba(190, 190, 190, 0.6);
}

